.image-container {
    /* overflow: hidden; */
    position: relative;
    width: 100vw;
}

.image {
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 110%;
}

.image-container h1 {
    color: white;
    font-size: 14rem;
    position: absolute;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 100%;
}

.hold {
    background-color: #0a73db;
    height: 500px;
    padding: 50px;
}

.hold h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
}

.clear {
    height: 100vh;
}

.image-front {
    border-bottom: 2px solid red;
    display: block;
}

#city1{
    top: 130px;
}

#city2 {
    top: 110px;
}
#city3 {
    top: 90px;
}
#city4 {
    top: 70px;
}